:root {
    --text-color-grey: #667085;
    --text-color-black: #101828;
    --main-color: #8E2424;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

nav {
    height: 80px;
    padding: 1.125rem 5rem;
    box-sizing: border-box;
}

.header-box {
    height: 100%;
    display: flex;
    padding: 0 2rem;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    width: 148px;
    height: 27px;
}

nav ul{
    margin-left: 119px;
}

nav li {
    display: inline;
}

nav li:not(:first-child) {
    margin: 0 0 0 2rem;
}

nav li a {
    text-decoration: none;
    line-height: 1.5rem;
    color: var(--text-color-grey);
    font-size: 1rem;
}

.btn-box {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    column-gap: 0.75rem;
}

button {
    border-radius: 0.5rem;
    background: none;
    padding: 0.6rem 1.12rem;
    border: none;
    color: var(--text-color-grey);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--main-color);
    color: #FFFFFF;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
    row-gap: 1.5rem;
}

.about-us span {
    color: var(--main-color);
    font-weight: 600;
    line-height: 1.5rem;
}

.about-us h1 {
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -2%;
    color: var(--text-color-black);
}

.about-us p {
    color: var(--text-color-grey);
    max-width: 50%;
    text-align: center;
    font-size: 1.25rem;
    line-height: 30px;
}

.metrics-container {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    padding: 0 7rem 6rem;
}

.metrics-container div {
    width: 30%;
}

.metrics-container span {
    color: var(--main-color);
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -2%;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.metrics-container h2 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--text-color-black);
    margin-bottom: 0.5rem;
}

.metrics-container p {
    color: var(--text-color-grey);
    line-height: 1.5rem;
}

.openings {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 6rem 7rem;
}

.openings span {
    color: var(--main-color);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 0.875rem;
}

.openings h2 {
    color: var(--text-color-black);
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin-bottom: 0.25rem;
}

.openings p {
    color: var(--text-color-grey);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.87rem;
    margin-bottom: 3rem;
}

.openings img {
    max-width: 100%;
}